<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :games_played %><br />
    <%= f.number_field :games_played %>
  </div>
  <div class="field">
    <%= f.label :games_won %><br />
    <%= f.number_field :games_won %>
  </div>
  <div class="field">
    <%= f.label :running_score %><br />
    <%= f.number_field :running_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
