<%= form_for(@user_game) do |f| %>
  <% if @user_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_game.errors.count, "error") %> prohibited this user_game from being saved:</h2>

      <ul>
      <% @user_game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br />
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :round_score %><br />
    <%= f.number_field :round_score %>
  </div>
  <div class="field">
    <%= f.label :isAdmin %><br />
    <%= f.check_box :isAdmin %>
  </div>
  <div class="field">
    <%= f.label :isWinner %><br />
    <%= f.check_box :isWinner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
