<h1>Listing user_games</h1>

<table>
  <tr>
    <th>User</th>
    <th>Game</th>
    <th>Round score</th>
    <th>Isadmin</th>
    <th>Iswinner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_games.each do |user_game| %>
  <tr>
    <td><%= user_game.user_id %></td>
    <td><%= user_game.game_id %></td>
    <td><%= user_game.round_score %></td>
    <td><%= user_game.isAdmin %></td>
    <td><%= user_game.isWinner %></td>
    <td><%= link_to 'Show', user_game %></td>
    <td><%= link_to 'Edit', edit_user_game_path(user_game) %></td>
    <td><%= link_to 'Destroy', user_game, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User game', new_user_game_path %>
